<h1>Admin Coins</h1>

<%= link_to "Add coin", new_admin_coin_path %>

<table>
	<% @coins.each do |coin| %>
		<tr>
			<td><%= image_tag coin.thumbnail %> <%= coin.name %></td>
		</tr>
	<% end %>
</table>
