<h1>Admin Coins</h1>

<p><%= link_to "Add new coin", new_admin_coin_path, class: "btn btn-primary" %></p>

<table class="table">
	<% @coins.each do |coin| %>
		<tr>
			<td><%= image_tag coin.thumbnail %> <%= coin.name %></td>
			<td>Edit Delete</td>
			<td>Coin info</td>
			<td>Pools</td>
			<td>Exchanges</td>
		</tr>
	<% end %>
</table>
