<h1><%= @coin.name %> info</h1>

<table class="table">
		<tr>
			<td>Total coins</td>
			<td><%= @coininfo.totalcoins %></td>
		</tr>
		<tr>
			<td>Coins per block</td>
			<td><%= @coininfo.coinsperblock %></td>
		</tr>
</table>